{% extends "layouts/main.html" %}

{% set pageName="Prison pathway prototypes" %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -50px;">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
    <h1 class="govuk-heading-xl govuk-!-margin-top-2">
      Prison pathway team
    </h1>

    <p class="govuk-body" style="margin-top: -20px;">We are working to design a version of the Strengths and Needs (SAN) assessment specifically for people in custody. This work is part of the wider Assessing Risks, Needs and Strengths (ARNS) programme, which aims to replace OASys with a more usable service.</p>
   
    <p class="govuk-body">The prototypes below build on learning from the Community version of SAN and reflect ongoing iteration based on user feedback and prison-specific needs.</p>
    
    <br>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="margin-top: 0px; margin-bottom: 8px; max-width: 900px; margin-left: auto; margin-right: auto;">



















    
    <br>
         <h2 class="govuk-heading-m" style="margin-bottom: 0px; white-space: nowrap;"><strong>Research prototypes (Changes from Unmoderated testing)</strong></h2>
  </div>
</div>
<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/alcohol/alco1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Alcohol use</a>
              <span style="display: flex; align-items: center; gap: 8px;">
                <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -15px;"> Post UT : Aug 2025</strong>
              </span>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
              This new design shows a rework of the alcohol journey to reflect changes from Unmoderated testing. It shows different flows for alcohol use in custody VS before custody.
    </p>

  

      </section>
</article>

<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/drug/03/drug1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Drug use</a>
              <span style="display: flex; align-items: center; gap: 8px;">
                <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -15px;"> Post UT : Aug 2025</strong>
              </span>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
              This new design shows a rework of the drug use journey to reflect changes from Unmoderated testing. It shows different flows for drug use in custody VS before custody.
    </p>

   

    </section>
</article>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" style="margin-bottom: 0px;"><strong>Research prototypes (Changes from UR Round 2)</strong></h2>
  </div>
</div>
<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/drug/02/drug1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Drug use</a>
              <span style="display: flex; align-items: center; gap: 8px;">
                <strong class="govuk-tag govuk-tag--yellow" style="color: #0b0c0c; font-weight: bold; background: #ffdd00; margin-top: -30px;">Latest design</strong>
                <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -15px;">Post R2 : July 2025</strong>
              </span>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
              This new design shows content changes (from Round 2 UR) with different questions and options.
    </p>

    <details class="govuk-details govuk-!-margin-top-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Quick navigation</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet" style="margin-top: 8px;">
          <li><a href="/drug/02/drug1.html" class="govuk-link">Ever misused drugs</a></li>
          <li><a href="/drug/02/drug2.html" class="govuk-link">Which drugs</a></li>
          <li><a href="/drug/02/drug3.html" class="govuk-link">Used in last 6 months</a></li>
          <li><a href="/drug/02/drug4.html" class="govuk-link">Why use drugs</a></li>
          <li><a href="/drug/02/drug5.html" class="govuk-link">Check your answers</a></li>
          <li><a href="/drug/02/drug5#practitioner-analysis" class="govuk-link">Practitioner analysis</a></li>
        </ul>
      </div>
    </details>

  </section>
</article>

<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/accommodation/02/acco1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Accommodation</a>
              <span style="display: flex; align-items: center; gap: 8px;">
                <strong class="govuk-tag govuk-tag--yellow" style="color: #0b0c0c; font-weight: bold; background: #ffdd00; margin-top: -30px;">Latest design</strong>
                <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -14px;">Post R2 : July 2025</strong>
              </span>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
              This new design shows content changes (from Round 2 UR) with different questions and options.


    </p>

    <details class="govuk-details govuk-!-margin-top-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Quick navigation</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet" style="margin-top: 8px;">
          <li><a href="/accommodation/02/acco1.html" class="govuk-link">Type of accommodation</a></li>
          <li><a href="/accommodation/02/acco2.html" class="govuk-link">Was living with</a></li>
          <li><a href="/accommodation/02/acco3.html" class="govuk-link">Plan to return</a></li>
          <li><a href="/accommodation/02/acco4.html" class="govuk-link">New accommodation for release</a></li>
          <li><a href="/accommodation/02/acco5.html" class="govuk-link">Plan to live with</a></li>
          <li><a href="/accommodation/02/acco6.html" class="govuk-link">Making changes</a></li>
          <li><a href="/accommodation/02/acco2noacco.html" class="govuk-link">Why no accommodation</a></li>
          <li><a href="/accommodation/02/acco7.html" class="govuk-link">Check your answers</a></li>
          <li><a href="/accommodation/02/acco7.html#practitioner-analysis" class="govuk-link">Practitioner analysis</a></li>
        </ul>
      </div>
    </details>

  </section>
</article>

<h2 class="govuk-heading-m" style="margin-top: 40px; margin-bottom: 20px;">Research prototypes (For Round 2)</h2>

<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/accommodation/01/acco1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Accommodation</a>
              <span style="display: flex; align-items: center; gap: 8px;">
                <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -14px;">For R2 : June 2025</strong>
              </span>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
      This is a duplicate of the Figma prototype (below) made to improve access and realism during testing.


    </p>

    <details class="govuk-details govuk-!-margin-top-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Quick navigation</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet" style="margin-top: 8px;">
          <li><a href="/accommodation/acco1.html" class="govuk-link">Type of accommodation</a></li>
          <li><a href="/accommodation/acco2.html" class="govuk-link">Was living with</a></li>
          <li><a href="/accommodation/acco3.html" class="govuk-link">Plan to return</a></li>
          <li><a href="/accommodation/acco4.html" class="govuk-link">New accommodation for release</a></li>
          <li><a href="/accommodation/acco5.html" class="govuk-link">Plan to live with</a></li>
          <li><a href="/accommodation/acco6.html" class="govuk-link">Making changes</a></li>
          <li><a href="/accommodation/acco2noacco.html" class="govuk-link">Why no accommodation</a></li>
          <li><a href="/accommodation/acco7.html" class="govuk-link">Check your answers</a></li>
          <li><a href="/accommodation/acco7.html#practitioner-analysis" class="govuk-link">Practitioner analysis</a></li>
        </ul>
      </div>
    </details>

  </section>
</article>

<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="https://www.figma.com/proto/Nk3VV47v3D16s1ycj3MTwJ/Prison-pathway?page-id=4046%3A47951&node-id=4046-68015&viewport=2341%2C2232%2C0.02&t=K9oKTtjcCxfKYO3k-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=4046%3A68015" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;" target="_blank" rel="noopener noreferrer">Accommodation (Figma)</a>
              <span style="display: flex; align-items: center; gap: 8px;">
                <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -15px;">For R2 : June 2025</strong>
              </span>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
      This Figma design shows a different question set and options.


    </p>

    

  </section>
</article>

<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/drug/01/drug1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Drug use (Reference)</a>
              <span style="display: flex; align-items: center; gap: 8px;">
                <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -15px;">For R2 : June 2025</strong>
              </span>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
This is a duplicate of the SAN test environment. It's is being used as a reference to gather reactions.


    </p>

    

  </section>
</article>


{% endblock %}
