{% extends "layouts/main.html" %}

{% set pageName="Prison pathway prototypes" %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -50px;">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
    <h1 class="govuk-heading-xl govuk-!-margin-top-2">
      Assessing Risks, Needs and Strengths
    </h1>

    <p class="govuk-body-l govuk-!-margin-top-2">Prison pathway team</p>
    <p class="govuk-body">This page contains prototype work for the Assessing Risks, Needs and Strengths (ARNS) service. It is used to support user research and testing as the service is developed and iterated.</p>
    
    <br>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="margin-top: 0px; margin-bottom: 8px; max-width: 900px; margin-left: auto; margin-right: auto;">

    <br>
    <h2 class="govuk-heading-m" style="margin-bottom: 0px;"><strong>Research prototypes</strong></h2>

  </div>
</div>



<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/accommodation/acco1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Accommodation</a>
              <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -15px;">R2 : June 2025</strong>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
      POM add accommodation information into SAN. This prototype is based on the SAN - Community prototype (Test)


    </p>

    <details class="govuk-details govuk-!-margin-top-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Quick navigation</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet" style="margin-top: 8px;">
          <li><a href="/accommodation/acco1.html" class="govuk-link">Type of accommodation</a></li>
          <li><a href="/accommodation/acco2.html" class="govuk-link">Was living with</a></li>
          <li><a href="/accommodation/acco3.html" class="govuk-link">Plan to return</a></li>
          <li><a href="/accommodation/acco4.html" class="govuk-link">New accommodation for release</a></li>
          <li><a href="/accommodation/acco5.html" class="govuk-link">Plan to live with</a></li>
          <li><a href="/accommodation/acco6.html" class="govuk-link">Making changes</a></li>
          <li><a href="/accommodation/acco2noacco.html" class="govuk-link">Why no accommodation</a></li>
          <li><a href="/accommodation/acco7.html" class="govuk-link">Check your answers</a></li>
          <li><a href="/accommodation/acco7.html#practitioner-analysis" class="govuk-link">Practitioner analysis</a></li>
        </ul>
      </div>
    </details>

  </section>
</article>


<article class="moj-ticket-panel" aria-label="Sub navigation 1" style="margin-top: 20px; max-width: 900px;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue"
    aria-label="Section 1"
    style="
      background: #f3f2f1;
      border-left: 6px solid #1d70b8;
      padding: 24px 24px 16px 24px;
      margin-bottom: 24px;
    ">

            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <a href="/drug/drug1.html" class="govuk-heading-m govuk-link" style="margin-top: 0; display: inline-block;">Drug use</a>
              <strong class="govuk-tag govuk-tag--blue" style="position: relative; top: -15px;">R2 : June 2025</strong>
            </div>
            <p class="govuk-body" style="margin-bottom: 24px; ">
      POM add drug use information into SAN. This prototype is based on the SAN - Community prototype (Test)
    </p>

    <details class="govuk-details govuk-!-margin-top-2">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Quick navigation</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet" style="margin-top: 8px;">
          <li><a href="/drug/drug1.html" class="govuk-link">Ever misused drugs</a></li>
          <li><a href="/drug/drug2.html" class="govuk-link">Which drugs</a></li>
          <li><a href="/drug/drug3.html" class="govuk-link">Used in last 6 months</a></li>
          <li><a href="/drug/drug4.html" class="govuk-link">Why use drugs</a></li>
          <li><a href="/drug/drug5.html" class="govuk-link">Check your answers</a></li>
          <li><a href="/drug/drug5#practitioner-analysis" class="govuk-link">Practitioner analysis</a></li>
        </ul>
      </div>
    </details>

  </section>
</article>


{% endblock %}
